{% extends "website_layout.html" %}
<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
	    <div class="container">
	        <a class="navbar-brand text-white" href="#">School</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item">
	                    <a class="nav-link mt-1 text-white" href="#" tabindex="-1" aria-disabled="true">( <i class="fa fa-phone"></i> )  <i class="fa fa-whatsapp"> 0313-8863195</i></a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link mt-1 text-white" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-envelope-o"> info@myschool.com</i></a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
<!-- Table -->
    <div class="container bg-light mt-5">
        <div class="row justify-content-md-center">
        	<table class="table table-hover">
        		<thead>
        			<th>Sr No</th>
        			<th>Column 1</th>
        			<th>Column 2</th>
        			<th>Column 3</th>
        			<th>Column 4</th>
        			<th>Column 5</th>
        		</thead>
        		<tbody>
        			<tr>
        				<td>1</td>
        				<td>Column 1</td>
	        			<td>Column 2</td>
	        			<td>Column 3</td>
	        			<td>Column 4</td>
	        			<td>Column 5</td>
        			</tr>
        			<tr>
        				<td>1</td>
        				<td>Column 1</td>
	        			<td>Column 2</td>
	        			<td>Column 3</td>
	        			<td>Column 4</td>
	        			<td>Column 5</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </div> 


<!-- FOoter -->
<!--<footer class="mt-3 bg-primary">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<h4 class="text-white my-4">About Us</h4>-->
                <!--<p class="lead"><small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</small></p>-->
            <!--</div>-->
            <!--&lt;!&ndash; Follow Us &ndash;&gt;-->
            <!--<div class="col-md-4 d-none d-md-block">-->
                <!--<h4 class="text-white my-4">Follow Us On</h4>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<a href="#" class="text-white"><i class="fa fa-facebook"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<a href="#" class="text-white"><i class="fa fa-twitter"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<a href="#" class="text-white"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<a href="#" class="text-white"><i class="fa fa-youtube"></i></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; COntact US &ndash;&gt;-->
            <!--<div class="col-md-4 d-none d-md-block">-->
                <!--<h4 class="text-white my-4">Contact Us</h4>-->
                <!--<p class="lead text-white">Address: <small>Faisalabad, Pakistan</small></p>-->
                <!--<p class="lead text-white">Phone: <small>0300-1234567</small></p>-->
                <!--<p class="lead text-white">Email: <small>info@school.com</small></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

{% block content %}